.list-group-item {
  border: 0px solid white;
}

.list-group-item-action:hover {
  background-color: #f8f9fa;
  border-left: 6px solid orange;
}

.nav-link,
.nav-link:focus,
.nav-link:hover {
  color:white
}

.text-left {
            text-align: left;
}
